/* Header responsive */
.grid-header {
    background-color: #0a2481;
    color: white;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Centramos todos los elementos inicialmente */
    text-align: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    position: relative;
}

.grid-item, .grid-item-right, .grid-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.grid-item {
    flex: 1;
    justify-content: flex-start; /* Alineamos a la izquierda */
}

.grid-item-center {
    flex: 2; /* Hacemos que el centro ocupe más espacio */
}

.grid-item-right {
    flex: 1;
    justify-content: flex-end;
}

.responsive-logo {
    max-width: 150px; /* Ajusta este valor según sea necesario */
    height: auto;
}

.site-title {
    font-size: 2rem; /* Ajusta el tamaño del título */
}

.dropbtn {
    background-color: #c72929;
    color: white;
    padding: 10px 16px; /* Ajusta el padding según sea necesario */
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

@media (max-width: 1200px) {
    .responsive-logo {
        max-width: 120px; /* Ajusta el tamaño de la imagen en pantallas medianas */
    }

    .site-title {
        font-size: 1.5rem; /* Ajusta el tamaño del título en pantallas medianas */
    }

    .dropbtn {
        padding: 8px 12px; /* Ajusta el padding del botón en pantallas medianas */
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {
    .responsive-logo {
        max-width: 80px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }

    .site-title {
        font-size: 1.2rem; /* Ajusta el tamaño del título en pantallas pequeñas */
    }

    .dropbtn {
        padding: 6px 10px; /* Ajusta el padding del botón en pantallas pequeñas */
        font-size: 1.2rem;
    }
}

/* Eliminar los márgenes blancos alrededor del body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor que envuelve la cuadrícula */
.grid-container {
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0; /* Elimina el padding adicional */
}

/* Cuadrícula */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Elemento de la cuadrícula */
.grid-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 70%;
    box-sizing: border-box;
}

/* Imágenes */
.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: #0a2481;
    color: white;
    padding: 1em 0;
    text-align: center;
    max-height: 100px;
}

h1 {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    left: auto;
    border-radius: 12px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c72929;
}

/* Bordes redondeados */
.dropbtn {
    background-color: #c72929;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.elementor-widget-container {
    margin-top: 10px; /* Añadir margen superior para separar las dos imágenes si es necesario */
}
