<app-header></app-header>
<div class="container">
    <div class="card">
        <img src="assets/valverde.png" alt="1er Premio: Valverde">
        <div class="card-content">
            <h3>1er Premio</h3>
            <p>Camiseta autografiada por los jugadores de la selección</p>
        </div>
    </div>

    <div class="card">
        <img src="assets/pelota.png" alt="2do Premio: Pelota">
        <div class="card-content">
            <h3>2do Premio</h3>
            <p>Una pelota de fútbol oficial del torneo</p>
        </div>
    </div>
</div>
<div class="footer-message">
    <span>Mucha suerte a todos!</span>
</div>

