<app-header></app-header>
<div class="container">
    <a href="/equipos/argentina" class="card">
        <img src="../../../assets/argentina.png" alt="Argentina">
        <div class="card-content">
            <h2>Argentina</h2>
        </div>
    </a>
    <a href="/equipos/bolivia" class="card">
        <img src="../../../assets/bolivia.png" alt="Bolivia">
        <div class="card-content">
            <h2>Bolivia</h2>
        </div>
    </a>
    <a href="/equipos/brasil" class="card">
        <img src="../../../assets/brasil.png" alt="Brasil">
        <div class="card-content">
            <h2>Brasil</h2>
        </div>
    </a>
    <a href="/equipos/canada" class="card">
        <img src="../../../assets/canada.png" alt="Canada">
        <div class="card-content">
            <h2>Canada</h2>
        </div>
    </a>
    <a href="/equipos/chile" class="card">
        <img src="../../../assets/chile.png" alt="Chile">
        <div class="card-content">
            <h2>Chile</h2>
        </div>
    </a>
    <a href="/equipos/colombia" class="card">
        <img src="../../../assets/colombia.png" alt="Colombia">
        <div class="card-content">
            <h2>Colombia</h2>
        </div>
    </a>
    <a href="/equipos/costa-rica" class="card">
        <img src="../../../assets/costa-rica.png" alt="Costa Rica">
        <div class="card-content">
            <h2>Costa Rica</h2>
        </div>
    </a>
    <a href="/equipos/ecuador" class="card">
        <img src="../../../assets/ecuador.png" alt="Ecuador">
        <div class="card-content">
            <h2>Ecuador</h2>
        </div>
    </a>
    <a href="/equipos/estados-unidos" class="card">
        <img src="../../../assets/estados-unidos.png" alt="Estados Unidos">
        <div class="card-content">
            <h2>Estados Unidos</h2>
        </div>
    </a>
    <a href="/equipos/jamaica" class="card">
        <img src="../../../assets/jamaica.png" alt="Jamaica">
        <div class="card-content">
            <h2>Jamaica</h2>
        </div>
    </a>
    <a href="/equipos/mexico" class="card">
        <img src="../../../assets/mexico.png" alt="Mexico">
        <div class="card-content">
            <h2>Mexico</h2>
        </div>
    </a>
    <a href="/equipos/panama" class="card">
        <img src="../../../assets/panama.png" alt="Panama">
        <div class="card-content">
            <h2>Panama</h2>
        </div>
    </a>
    <a href="/equipos/paraguay" class="card">
        <img src="../../../assets/paraguay.png" alt="Paraguay">
        <div class="card-content">
            <h2>Paraguay</h2>
        </div>
    </a>
    <a href="/equipos/peru" class="card">
        <img src="../../../assets/peru.png" alt="Peru">
        <div class="card-content">
            <h2>Peru</h2>
        </div>
    </a>
    <a href="/equipos/uruguay" class="card">
        <img src="../../../assets/uruguay.png" alt="Uruguay">
        <div class="card-content">
            <h2>Uruguay</h2>
        </div>
    </a>
    <a href="/equipos/venezuela" class="card">
        <img src="../../../assets/venezuela.png" alt="Venezuela">
        <div class="card-content">
            <h2>Venezuela</h2>
        </div>
    </a>
</div>
