<app-header></app-header>

<div class="grid-container">

    <div class="grid">
        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/argentina.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/argentina">
                        <h2>Argentina</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/bolivia.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/bolivia">
                        <h2>Bolivia</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/brasil.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/brasil">
                        <h2>Brasil</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/canada.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/canada">
                        <h2>Canada</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/chile.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/chile">
                        <h2>Chile</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/colombia.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/colombia">
                        <h2>Colombia</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/costa-rica.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/costa-rica">
                        <h2>Costa Rica</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/ecuador.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/ecuador">
                        <h2>Ecuador</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/estados-unidos.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/estados-unidos">
                        <h2>Estados Unidos</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/jamaica.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/jamaica">
                        <h2>Jamaica</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/mexico.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/mexico">
                        <h2>Mexico</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/panama.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/panama">
                        <h2>Panama</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/paraguay.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/paraguay">
                        <h2>Paraguay</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/peru.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/peru">
                        <h2>Peru</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/uruguay.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/uruguay">
                        <h2>Uruguay</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="top-div">
                <img src="../../../assets/venezuela.png" alt="Imagen 1">
            </div>
            <div class="elementor-element elementor-element-76a1ead elementor-widget elementor-widget-image bot-div"
                data-id="76a1ead" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container text-2xl">
                    <a href="/equipos/venezuela">
                        <h2>Venezuela</h2>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>