<app-header></app-header>
<div class="main-container">
  <header class="main-header">
    <nav class="nav-bar">
      <a href="#fase-de-grupos">Fase de Grupos</a>
      <a href="#cuartos">Cuartos</a>
      <a href="#semifinal">Semifinal</a>
      <a href="#final">Final</a>
    </nav>
  </header>

  <section id="fase-de-grupos" class="group-section">
    <h2 (click)="toggleSection('faseDeGrupos')">Fase de Grupos</h2>
    <div class="result-cards" [@toggleAnimation]="sectionVisible['faseDeGrupos']">
      <div class="result-card" *ngFor="let match of matches | filterByPhase: ['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D']">
        <div class="card-header">
          <span>{{ match.date }}</span>
          <span class="group-label">{{ match.group }}</span>
        </div>
        <div class="teams">
          <div class="team">
            <img [src]="match.team1.flag" alt="{{ match.team1.name }} flag">
            <span>{{ match.team1.name }}</span>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team1)" >+</button>
            <span class="score">{{ match.team1.score }}</span>
            <button (click)="decreaseScore(match.team1)" >-</button>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team2)" >+</button>
            <span class="score">{{ match.team2.score }}</span>
            <button (click)="decreaseScore(match.team2)" >-</button>
          </div>
          <div class="team">
            <img [src]="match.team2.flag" alt="{{ match.team2.name }} flag">
            <span>{{ match.team2.name }}</span>
          </div>
        </div>
        <div class="stadinfo">
            <span>{{ match.stadium }}</span>
        </div>
        <div class="card-footer">
          <button *ngIf="!match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Ingresar Resultado
          </button>
          <button *ngIf="match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Modificar Resultado
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="cuartos" class="group-section">
    <h2 (click)="toggleSection('cuartos')">Cuartos</h2>
    <div class="result-cards" [@toggleAnimation]="sectionVisible['cuartos']">
      <div class="result-card" *ngFor="let match of matches | filterByPhase: ['Cuartos']">
        <div class="card-header">
          <span>{{ match.date }}</span>
          <span class="group-label">{{ match.group }}</span>
        </div>
        <div class="teams">
          <div class="team">
            <img [src]="match.team1.flag" alt="{{ match.team1.name }} flag">
            <span>{{ match.team1.name }}</span>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team1)" >+</button>
            <span class="score">{{ match.team1.score }}</span>
            <button (click)="decreaseScore(match.team1)" >-</button>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team2)" >+</button>
            <span class="score">{{ match.team2.score }}</span>
            <button (click)="decreaseScore(match.team2)" >-</button>
          </div>
          <div class="team">
            <img [src]="match.team2.flag" alt="{{ match.team2.name }} flag">
            <span>{{ match.team2.name }}</span>
          </div>
        </div>
        <div class="stadinfo">
            <span>{{ match.stadium }}</span>
        </div>
        <div class="card-footer">
          <button *ngIf="!match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Ingresar Resultado
          </button>
          <button *ngIf="match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Modificar Resultado
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="semifinal" class="group-section">
    <h2 (click)="toggleSection('semifinal')">Semifinal</h2>
    <div class="result-cards" [@toggleAnimation]="sectionVisible['semifinal']">
      <div class="result-card" *ngFor="let match of matches | filterByPhase: ['Semifinal']">
        <div class="card-header">
          <span>{{ match.date }}</span>
          <span class="group-label">{{ match.group }}</span>
        </div>
        <div class="teams">
          <div class="team">
            <img [src]="match.team1.flag" alt="{{ match.team1.name }} flag">
            <span>{{ match.team1.name }}</span>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team1)" >+</button>
            <span class="score">{{ match.team1.score }}</span>
            <button (click)="decreaseScore(match.team1)" >-</button>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team2)" >+</button>
            <span class="score">{{ match.team2.score }}</span>
            <button (click)="decreaseScore(match.team2)" >-</button>
          </div>
          <div class="team">
            <img [src]="match.team2.flag" alt="{{ match.team2.name }} flag">
            <span>{{ match.team2.name }}</span>
          </div>
        </div>
        <div class="stadinfo">
            <span>{{ match.stadium }}</span>
        </div>
        <div class="card-footer">
          <button *ngIf="!match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Ingresar Resultado
          </button>
          <button *ngIf="match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Modificar Resultado
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="final" class="group-section">
    <h2 (click)="toggleSection('final')">Final</h2>
    <div class="result-cards" [@toggleAnimation]="sectionVisible['final']">
      <div class="result-card" *ngFor="let match of matches | filterByPhase: ['Final', 'Tercer Puesto']">
        <div class="card-header">
          <span>{{ match.date }}</span>
          <span class="group-label">{{ match.group }}</span>
        </div>
        <div class="teams">
          <div class="team">
            <img [src]="match.team1.flag" alt="{{ match.team1.name }} flag">
            <span>{{ match.team1.name }}</span>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team1)" >+</button>
            <span class="score">{{ match.team1.score }}</span>
            <button (click)="decreaseScore(match.team1)" >-</button>
          </div>
          <div class="score-controls">
            <button (click)="increaseScore(match.team2)" >+</button>
            <span class="score">{{ match.team2.score }}</span>
            <button (click)="decreaseScore(match.team2)" >-</button>
          </div>
          <div class="team">
            <img [src]="match.team2.flag" alt="{{ match.team2.name }} flag">
            <span>{{ match.team2.name }}</span>
          </div>
        </div>
        <div class="stadinfo">
            <span>{{ match.stadium }}</span>
        </div>
        <div class="card-footer">
          <button *ngIf="!match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Ingresar Resultado
          </button>
          <button *ngIf="match.resultEntered" class="submit-button" (click)="submitResult(match)">
            Modificar Resultado
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
