<app-header></app-header>
    <div class="container">
        <div class="card">
            <img src="assets/MBStad.png" alt="Mercedes-Benz Stadium">
            <div class="card-content">
                <h3>Mercedes-Benz Stadium</h3>
                <p>Atlanta, GA</p>
                <span class="badge apertura">Apertura</span>
                <p>Capacidad: 71.000</p>
            </div>
        </div>

        
        <div class="card">
            <img src="../../../assets/HRStad.png" alt="Hard Rock Stadium">
            <div class="card-content">
                <h3>Hard Rock Stadium</h3>
                <p>Miami Gardens, FL</p>
                <span class="badge final">Final</span>
                <p>Capacidad: 65.300</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/GEHA.png" alt="GEHA Field at Arrowhead Stadium">
            <div class="card-content">
                <h3>GEHA Field at Arrowhead Stadium</h3>
                <p>Kansas City, MO</p>
                <p>Capacidad: 76.400</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/Q2.png" alt="Q2 Stadium">
            <div class="card-content">
                <h3>Q2 Stadium</h3>
                <p>Austin, TX</p>
                <p>Capacidad: 20.700</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/AT&T.png" alt="AT&T Stadium">
            <div class="card-content">
                <h3>AT&T Stadium</h3>
                <p>Arlington, TX</p>
                <p>Capacidad: 80.000</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/BAS.png" alt="Bank of America Stadium">
            <div class="card-content">
                <h3>Bank of America Stadium</h3>
                <p>Charlotte, NC</p>
                <p>Capacidad: 74.500</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/Met.png" alt="MetLife Stadium">
            <div class="card-content">
                <h3>MetLife Stadium</h3>
                <p>East Rutherford, NJ</p>
                <p>Capacidad: 82.500</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/SFS.png" alt="State Farm Stadium">
            <div class="card-content">
                <h3>State Farm Stadium</h3>
                <p>Glendale, AZ</p>
                <p>Capacidad: 63.400</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/NRG.png" alt="NRG Stadium">
            <div class="card-content">
                <h3>NRG Stadium</h3>
                <p>Houston, TX</p>
                <p>Capacidad: 72.220</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/SoFi.png" alt="SoFi Stadium">
            <div class="card-content">
                <h3>SoFi Stadium</h3>
                <p>Inglewood, CA</p>
                <p>Capacidad: 70.000</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/CMP.png" alt="Children’s Mercy Park">
            <div class="card-content">
                <h3>Children’s Mercy Park</h3>
                <p>Kansas City, KS</p>
                <p>Capacidad: 18.500</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/AS.png" alt="Allegiant Stadium">
            <div class="card-content">
                <h3>Allegiant Stadium</h3>
                <p>Las Vegas, NV</p>
                <p>Capacidad: 65.000</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/InterS.png" alt="Inter&Co Stadium">
            <div class="card-content">
                <h3>Inter&Co Stadium</h3>
                <p>Orlando, FL</p>
                <p>Capacidad: 25.500</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/Levi.png" alt="Levi’s® Stadium">
            <div class="card-content">
                <h3>Levi’s® Stadium</h3>
                <p>Santa Clara, CA</p>
                <p>Capacidad: 68.500</p>
            </div>
        </div>
    </div>